table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #28a745;
    color: white;
}

tr:nth-child(even) {
    background-color: #00FFFF;
}